.woocommerce, .woocommerce-page { // namespace to avoid conflict with common global class names

  .widget_price_filter {
    .price_slider {
      margin-bottom: 1em;
    }
    .price_slider_amount {
      text-align: right;
      line-height: 2.4em;
      font-size: 0.8751em;
      .button {
        font-size: 1.15em;
      }
      .button {
        float:left;
      }
    }
     .ui-slider {
      position: relative;
      text-align:left;
    }
     .ui-slider .ui-slider-handle {
      position:absolute;
      z-index: 2;
      width: 0.9em;
      height: 0.9em;
      @include border_radius(1em);
      border: 1px solid darken( $tertiary, 50 );
      cursor: pointer;
      @include vertical_gradient( $tertiary, darken( $tertiary, 10 ));
      outline:none;
      top: -.3em;
      -webkit-box-shadow:
        0 1px 2px rgba(0,0,0,0.3),
        inset 0 0 0 1px rgba(255,255,255,0.65);
      -moz-box-shadow:
        0 1px 2px rgba(0,0,0,0.3),
        inset 0 0 0 1px rgba(255,255,255,0.65);
      box-shadow:
        0 1px 2px rgba(0,0,0,0.3),
        inset 0 0 0 1px rgba(255,255,255,0.65);

      &:last-child {
        margin-left: -1em;
      }
    }
     .ui-slider .ui-slider-range {
      position:absolute;
      z-index: 1;
      font-size: .7em;
      display:block;
      border: 0;
      background: $tertiary url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAADCAYAAABS3WWCAAAAFUlEQVQIHWP4//9/PRMDA8NzEPEMADLLBU76a5idAAAAAElFTkSuQmCC) top repeat-x; /* transparent png */
      @include inset_box_shadow(0,0,0,1px,rgba(0,0,0,0.5));
      @include border_radius(1em);
    }
     .price_slider_wrapper .ui-widget-content {
      @include border_radius(1em);
      @include vertical_gradient( $quaternary, lighten( $quaternary, 30 ) );
    }
     .ui-slider-horizontal {
      height: .5em;
    }
     .ui-slider-horizontal .ui-slider-range {
      top: 0;
      height: 100%;
    }
     .ui-slider-horizontal .ui-slider-range-min {
      left: -1px;
    }

     .ui-slider-horizontal .ui-slider-range-max {
      right: -1px;
    }
  }
}