// the general layout of the page is defined here.
// you can either dump all your styles here, or be more organized and divide them in smaller files like _header.scss, _footer.scss

// border box sizing for all elements. Susy mixin, helps with measures and grid.
@include border-box-sizing;

body {
  cursor: default; // avoid the text input / select cursor on hover text, when there is no text input / text area
  // dont let absolutely positioned elements go under the admin-bar
  // also helps to use modal windows full page backgrounds
  position: absolute;
  width: 100%;
}