// this is a two-tiered variable system.
// the descriptive variables are used as values for the functional variables.


// descriptive variables

// these variables are used to easily identify colors by name.

$white                : #fff;
$gray75               : #404040;
$black                : #000;
$text-black           : #1a1a1a;

$attention-green      : #00b85d;
$attention-red        : #ea3d2d;


// functional variables
// these variables exist to be used more functionally within the scss.
// as they are abstract, you only need to change their value to see the changes in your layout (no find and replace!).

//main
$c-brand              : $black;

$c-bg-fallback        : $white; // add an rgb fallback for alpha colors if you need backwards compatibility
$c-bg                 : transparentize($c-bg-fallback, .25);
$c-bg-header          : transparentize($black, .1);
$c-bg-header-fallback : $black;
$c-bg-footer          : $c-bg;

$c-text               : $text-black;
$c-text-dark          : $black;
$c-text-brand         : $c-brand;
$c-text-invert        : $white;

$c-container-fallback : $white;
$c-container          : transparentize($c-container-fallback, .5);
$c-border             : $gray75;
$c-shadow             : transparentize($black, .3); // no need for fallbacks whe you're going to use css3... =)

$important-action     : $attention-green;

$c-success            : $attention-green;
$c-error              : $attention-red;

// links
$c-link               : $c-brand;
$c-visited            : $c-text-dark;
$c-hover              : $c-text-dark;
$c-focus              : $c-hover;
$c-active             : $c-hover;

// specific - add here the variables you need for your layout