// using Susy grid: http://susy.oddbird.net/
// these are configurable variables of the Susy grid

$total-columns  : 12;             // a 12-column grid
$column-width   : 69px;           // each column's width - use pixels here, Susy will convert to percentage
$gutter-width   : 12px;           // gutters' width between columns - use pixels here, Susy will convert to percentage
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

// media layouts
// http://susy.oddbird.net/guides/reference/#ref-media-layouts
// $media-layout: <min-width> <layout> <max-width> <ie-fallback>;
// - You must supply either <min-width> or <layout>.

$tablet         : 9 890px;
$phone          : 4 720px;

// more variables to use that are not from compass or susy

// I usually use a baseline grid with vertical rhythm for typography, which I got here: http://www.teehanlax.com/downloads/baseline-grid/
// vertical rhythm unit. I use multiples of 6 for line-height in my layouts
$vr : 6;

// general margin-bottom for containers. this maintains consistency and vertical rhythm throughout the layout.
// note that height should be set in multiples of $vr (you should compensate when adding borders if you disable border box sizing).
$mb : (3 * $vr);