// these are placeholder classes for some of the atributes I use often in my css.
// they don't compile the css unless you use @extend, so there's no need for semantic names here. =)
// for grid placeholders, check _placeholders-grid.scss

%hide {
  display: none;
}
%show {
  display: block;
}
%clear {
  clear: both;
}
%last-column {
  margin-right: 0 !important;
}
%float-left {
  float: left;
}
%float-right {
  float: right;
}
%clearfix { // this is the micro clearfix version
  // For IE 6/7 (trigger hasLayout)
  zoom: 1;
  //For modern browsers
  &:before,
  &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
}
// clears lists. better used on ul
%unstyled-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
// hiding text for image replacement. I don't remember where I got this technique from, but I love it
// haven't tested it, but I think it's good for ltr and rtl text directions. tell me if it doesn't work in rtl, I'm too lazy to go try it =P
%hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
// occupies full width when not inside any element with declared position
%full-width {
  position: absolute;
  left: 0;
  width: 100%;
}
// to be used on a container of floated elements without using nth-child to remove margin on the last item in a line (ie-friendly)
// list items, however, must have max-width set in px so they don't expand size with the increased width of the container, and still be responsive
%floated-list-container {
  width: 100% + gutter() * 1.2;

  @extend %clearfix;
}

// transitions
%transition {
  @include transition(all 0.25s ease-out);
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); // this triggers hardware acceleration for animations
}
// fade in/out
  // when fading out, height:0 in combination with overflow:hidden, removes the element completely, allowing clicks under it.
  // may require you to define heigh and overflow in the element when it is in view, depending on how you are doing it.
  // i usualy extend fade-out in the .element-class and then extend fade-in in .element-class.open.
%fade-in {
  opacity: 1;
  -webkit-transition: opacity 0.25s ease-out, height 0 linear 0;
          transition: opacity 0.25s ease-out, height 0 linear 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); // this triggers hardware acceleration for animations
}
%fade-out {
  height: 0;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity 1.25s ease-in, height 0 linear 0.25s;
          transition: opacity 1.25s ease-in, height 0 linear 0.25s;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); // this triggers hardware acceleration for animations
}