// these are placeholder classes for some of the atributes I use often in my css.
// they don't compile the css unless you use @extend, so there's no need for semantic names here. =)
// for grid placeholders, check _placeholders-grid.scss

%hide {
  display: none;
}
%show {
  display: block;
}
%clear {
  clear: both;
}
%last-column {
  margin-right: 0 !important;
}
%float-left {
  float: left;
}
%float-right {
  float: right;
}
%clearfix { // this is the micro clearfix version
  // For IE 6/7 (trigger hasLayout)
  zoom: 1;
  //For modern browsers
  &:before,
  &:after {
      content: "";
      display: table;
  }
  &:after {
      clear: both;
  }
}

// hiding text for image replacement. I don't remember where I got this technique from, but I love it
// haven't tested it, but I think it's good for ltr and rtl text directions. tell me if it doesn't work in rtl, I'm too lazy to go try it =P
%hide-text {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}
// sets container's width the same as the site's and centers it 
%outer-container {
  margin: 0 auto;
  width: $blueprint-container-size;
}
// occupies full width when not inside any element with declared position
%full-width {
  position: absolute;
  left: 0;
  width: 100%;
}